*{
    margin: 0;
    padding:0;
    background-color: black;
    color: white;
}
h1{
    font-size: 50px;
    background-color: rgb(84,9,65);
    align-items: center;
    text-align: center;
}
.Java{
    
    font-size: 25px;
    align-items: center;
    text-align: center;
}
.Java img{
    width: 900px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px white;
}
.comnet1{
    
    font-size: 25px;
    align-items: center;
    text-align: center;
}
.comnet1 img{
    width: 900px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px white;
}
.comnet2{
    
    font-size: 25px;
    align-items: center;
    text-align: center;
}
.comnet2 img{
    width: 900px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px white;
}