*{
    margin: 0;
    padding: 0;
   
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.images ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    width: 60%;
    height: 60%;
    bottom: 60%;
    margin: auto;
}
.images li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images img{
    width: 160px;
    height: 75%;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgb(244, 242, 242);
}
h1{
    font-size: 30px;
    margin-left: 30px;
}
nav{
    background-color: rgb(84, 9, 65);
    color: white;
}
.Content h1{
    color: rgb(17, 141, 114);
    margin-left: 5px;
}
ul,li,h1{
    display: inline;
}
ul a{
    color: white
}
ul{
    margin-left:62%;
    font-size: 18px;
}
li{
    margin-left: 10px;
    cursor: pointer;
}
a:hover{
    color: rgb(93, 226, 224);
}
